@import url('https://fonts.googleapis.com/css?family=Kanit:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500&display=swap');

/* ROOT */
:root {
    /* COLOR */

    --bg-w: #FFFFFF;
    --outline: #C8C7CC;
    --text: #000000;
    --small-text: #909090;
    --accent: #FFC80B;
    --red: #E91916;
    --link: #1492E6;

    /* FONT SIZE */
    --typo-12: 12pt;
    --typo-14: 14pt;
    --typo-16: 16pt;
    --typo-18: 18pt;
    --typo-20: 20pt;
    --typo-24: 24pt;
    --typo-30: 30pt;
    --typo-36: 36pt;
    --typo-48: 48pt;
    --typo-60: 60pt;
    --typo-72: 72pt;

    /* SPACING */
    --sp-4: 4px;
    --sp-8: 8px;
    --sp-12: 12px;
    --sp-16: 16px;
    --sp-24: 24px;
    --sp-32: 32px;
    --sp-48: 48px;
    --sp-64: 64px;
    --sp-96: 96px;
    --sp-128: 128px;
    --sp-192: 192px;
    --sp-256: 256px;
    --sp-384: 384px;
    --sp-512: 512px;
    --sp-640: 640px;
    --sp-768: 768px;
}


/* RESET HTML */
html {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

.headline {
    margin-bottom: var(--sp-24);
    padding: var(--sp-32) var(--sp-96) var(--sp-24) var(--sp-96);

}

/* Overall collection */
.container {
    margin: var(--sp-32) var(--sp-96) var(--sp-24) var(--sp-96);
    animation-name: opacity-in;
    animation-duration: 1s;
}

@keyframes opacity-in {
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;

    }

    0% {
        opacity: 0;
    }
}
a {
    text-decoration: none;
    color: unset;
}

.card {
    border-radius: 16px;
    margin-bottom: var(--sp-32);
    width: 200px;
    margin-right: var(--sp-16);
    margin-left: var(--sp-16);
    outline: none;
    box-shadow: 0 5px 10pt rgba(0, 0, 0, .28);

}

.card_img {
    border-radius: 16px  16px 0px 0px;
    width: 100%;
    height: auto;
}

.card-align {
    padding: var(--sp-16) var(--sp-16) var(--sp-32) var(--sp-16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.card-l {
    margin-bottom: 15px;
}

.card-r {
    width: 100%;
}

.card-r a {
    text-decoration: none;
    display: block;
    width: 100%;
}

.card-r button {
    outline: none;
    color: var(--bg-w);
    padding: 5px 10px 5px 10px;
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: var(--link);
}

/* TYPOGRAPHY */
header,
h1,
h2,
h3,
h4,
h6,
strong,
.liveicon,
small,
a,
p,
button {
    font-family: 'Sarabun';
}


h2 {
    font-size: 15pt;
    font-weight: normal;
}

h3 {
    font-size: 15pt;
    color: var(--small-text);
    font-weight: normal;
}
button {
    font-size: 12pt;
}

@media screen and (max-width: 1020px) {
    .container {
        margin: var(--sp-16) var(--sp-32);
    }

    .headline {
        padding: var(--sp-16);
    }
    h2 {
        font-size: 10pt;
    }
    h3 {
        font-size: 10pt;
        
    }
}