@import url('https://fonts.googleapis.com/css?family=Kanit:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500&display=swap');

/* ROOT */
:root {
    /* COLOR */

    --bg-w: #FFFFFF;
    --outline: #CCCCCC;
    --text: #000000;
    --small-text: #909090;
    --accent: #FFC80B;
    --red: #E91916;
    --link: #1492E6;

    /* FONT SIZE */
    --typo-12: 12pt;
    --typo-14: 14pt;
    --typo-16: 16pt;
    --typo-18: 18pt;
    --typo-20: 20pt;
    --typo-24: 24pt;
    --typo-30: 30pt;
    --typo-36: 36pt;
    --typo-48: 48pt;
    --typo-60: 60pt;
    --typo-72: 72pt;

    /* SPACING */
    --sp-4: 4px;
    --sp-8: 8px;
    --sp-12: 12px;
    --sp-16: 16px;
    --sp-24: 24px;
    --sp-32: 32px;
    --sp-48: 48px;
    --sp-64: 64px;
    --sp-96: 96px;
    --sp-128: 128px;
    --sp-192: 192px;
    --sp-256: 256px;
    --sp-384: 384px;
    --sp-512: 512px;
    --sp-640: 640px;
    --sp-768: 768px;
}

body {
    padding: 0;
    margin: 0;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}



.jumptomobile {
    display: none;

}

/* PARALLAX SCROLL */
#hero {
    height: 800px;
    overflow: hidden;
    position: relative;
}

.layer {
    /* background-position: bottom center; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    /* position: fixed;
    z-index: -1; */
}

.headline {
    position: absolute;
    top: 290px;
    left: 20vw;
    text-align: center;
    z-index: 50 !important;
}

.headline header {
    font-family: 'Kanit';
    font-size: 100pt;
}

.first-section {
    padding: 50px 227px;
    height: auto;
    background-color: #000;
}

/* TYPOGRAPHY */
h1,
cite,
a,
p,
h4,
small {
    font-family: 'Kanit';
}

.first-section h1 {
    line-height: 120%;
    margin-bottom: 30px;
    font-size: 40pt;
}

.first-section small {
    font-size: 16pt;
}

.first-section p {
    color: #ede0d5;
    margin-top: 20px;
    font-size: 22pt;
    line-height: 150%;
}



#hero,
.layer {
    min-height: 800px;
}

#hero {
    background-color: black;
}

.web-room {
    /* width: 100vw; or we should not set width at all?
    max-width: 100vw; */
    width: 100%;
    height: 700px;
    /* background-color: black; */
    background-repeat: no-repeat;
    /* background-size: 100% 150vh; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-rows: 1fr;
    grid-gap: 0px;
    grid-template-areas:
        "content dashboard";
    overflow-y: unset;
    padding-bottom: 20px;
    padding-top: 20px;

}

/* .web-room[data-scroll="in"] {
    animation-name: pop;
    animation-duration: .5s;
}

@keyframes pop {

    100% {
        opacity: 1;
    }
    
    0% {
        opacity: 0.5;
       
        
    }
} */

/* TWITTER DASHBOARD */
.container-dashboard {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 100px;
}

.dashboard-mobile {
    display: none;
}

.dashboard {
    grid-area: dashboard;
    width: 270px;
    height: 400px;
    background-color: #E4E4E4;
    padding: 16px;
    transform-origin: 50% 50%;
    -webkit-transform: perspective(300) rotateY(-15deg);
    border-radius: 16px;
    box-shadow: 0 5px 10pt rgba(0, 0, 0, .28);

}

.dashboard h3 {
    margin-top: var(--sp-12);
    font-family: 'Kanit';
    color: var(--text);
    margin-bottom: var(--sp-16);
    font-size: var(--typo-16);

}

.dashboard p {
    font-family: 'Kanit';
    color: var(--text);
    font-size: var(--typo-12);
    font-weight: lighter;
    margin-bottom: var(--sp-16);

}

.dashboard .tagbox {
    height: 180px;
    width: 100%;
}


/* IDOL CONTENT */
.group-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.idol-content {
    color: #130d0a;
    grid-area: content;
    display: grid;
    grid-template-columns: 90px 1fr 40px;
    padding-top: 200px;
    grid-column-gap: var(--sp-16);
    padding: var(--sp-16);
}

.card-book {
    text-align: center;
}

.idol-content h1 {
    font-size: var(--typo-18);
    /* padding: var(--sp-12); */
}

.idol-content h4 {
    font-size: var(--typo-14);
}

.idol-content p {
    font-size: var(--typo-12);
    margin-bottom: var(--sp-16);
    color: var(--small-text);
    font-weight: lighter;

}

.idol-content cite {
    color: var(--text);
    font-weight: bold;
    font-size: var(--typo-12);
}

.idol-content .link {
    text-decoration: none;
    color: var(--bg-w);
    background-color: var(--accent);
    padding: 5px 15px;
    border-radius: var(--sp-12);
    margin-top: var(--sp-16);
    margin-right: var(--sp-16);
}

.idol-content .linkCTA {
    text-decoration: none;
    color: var(--accent);
    background-color: transparent;
    padding: 5px 15px;
    border: 2px solid var(--accent);
    border-radius: var(--sp-12);
    margin-top: var(--sp-16);
    margin-right: var(--sp-16);

}



.idol-content .card {
    background-color: #E4E4E4;
    border-radius: 16px;
    box-shadow: 0 5px 10pt rgba(0, 0, 0, .28);
    height: auto;
    width: auto;
    max-width: 714px;
    transition: .2s;
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* margin-bottom: var(--sp-32); */
    /* background-color: var(--accent); */
    /* padding-left: 350px; */
    /* position: absolute;
    left: 200px;
    top: 2500px; */
}

.figure-content {
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: flex-end;
}

.card .figure {
    /* width: auto; */
    width: 100%;
    min-width: 250px;
    /* max-width:298px; */
    max-width: 420px;
    height: auto;
    /* max-height: 426px; */
    max-height: 500px;
    /* object-fit: cover; */
    /* use object-fit contain to prevent mac error */
}

.idol-content .card-content {
    padding: var(--sp-16);
}

.card-content .link-group {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}

.controlbtn-l {
    /* display: flex; */
    /* align-items: center; */
    margin-top: 300px;
    width: 20px;
    /* justify-content: flex-end; */
    padding-bottom: var(--sp-24);
}

.controlbtn-r {
    width: 20px;
    /* display: flex;
    justify-content: flex-start; */
    margin-top: 300px;
    align-items: center;
    padding-bottom: var(--sp-24);
}

.prev,
.next {
    cursor: pointer;
    color: #707070;
    background-color: white;
    border-radius: 4px;
    user-select: none;
    margin-left: 30px;
    padding: 10px;
}

/* Javascript animation */
.scroll {
    width: 30px;
    animation: move 1s infinite alternate;
}

@keyframes move {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(30px);
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.mobile-screen {
    display: none;
}

@media screen and (min-width: 2500px) {
    .first-section {
        padding: 50px 600px;
    }

    .web-room {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .controlbtn-l {
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .controlbtn-r {
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1150px) {
    .headline {
        position: absolute;
        width: 90%;
        top: 100px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 50 !important;
        padding: 0px 10px;
    }

    .headline header {
        font-family: 'Kanit';
        font-size: 65pt;
    }

    .first-section {
        padding: 50px 30px;
    }

    .first-section h1 {
        font-size: var(--typo-24);

    }

    .first-section p {
        font-size: var(--typo-16);
    }

    .web-room {
        background-color: red;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .container-dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dashboard {
        width: 100%;
        max-width: 524px;
        -webkit-transform: unset;
    }
}

@media screen and (max-width: 800px) {

    /* from 1020px need to fix screen on between 500px - 1020 px */
    body {
        background-color: black;
    }

    .headline {
        position: absolute;
        width: 90%;
        top: 100px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 50 !important;
        padding: 0px 10px;
    }

    .headline header {
        font-family: 'Kanit';
        font-size: 65pt;
    }

    .first-section {
        padding: 50px 30px;
    }

    .first-section h1 {
        font-size: var(--typo-24);

    }

    .first-section p {
        font-size: var(--typo-16);
    }

    .web-room {
        display: none;
    }

    .mobile-screen {
        display: unset;
    }

    .mobile-room {
        display: flex;
        flex-direction: row;
        background-color: black;
        align-items: center;
    }

    .controlbtn_mobile {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .prev_mobile,
    .next_mobile {
        cursor: pointer;
        color: #707070;
        background-color: white;
        border-radius: 4px;
        user-select: none;
        padding: 10px;
    }

    .prev_mobile {
        margin-left: 5px;
    }

    .next_mobile {
        margin-right: 5px;
    }

    .card_mobile {
        /* background-color: #E4E4E4;
        color: #130d0a;
        border-radius: 16px;
        box-shadow: 0 5px 10pt rgba(0, 0, 0, .28);
        height: auto;
        width: auto;
        transition: .2s;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        text-align: center; */
    }

    .card_content_mobile {
        border-radius: var(--sp-12);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 10px 10px 10px 10px;
    }

    .card_image_mobile {
        padding: 10px 10px 0 10px;
        border-radius: var(--sp-12) var(--sp-12) 0 0;
        background-color: white;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .card_image_mobile img {
        width: 100%;
        height: auto;
    }

    /* .card_image_mobile .figure_mobile {
        justify-self: end;

    } */

    .figure_mobile {
        width: 100%;
        height: auto;
    }

    .card_content_main {
        width: 100%;
        background-color: #E4E4E4;
        padding: 16px;
        text-align: center;
        border-radius: 0 0 var(--sp-12) var(--sp-12);

    }

    .card_content .link-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }


    .card_content_mobile h1 {
        color: var(--text);
        font-size: 16pt;
    }

    .card_content_mobile h4 {
        color: var(--text);
        font-size: 12pt;
    }

    .card_content_mobile p {
        font-size: 10pt;
        margin-bottom: 16px;
        color: #130d0a;
        font-weight: light;

    }

    .card_content_mobile cite {
        color: #130d0a;
        font-weight: bold;
        font-size: 10pt;
    }

    .card_content_mobile .link {
        text-decoration: none;
        color: var(--bg-w);
        background-color: var(--accent);
        padding: 5px 15px;
        border-radius: 12px;
        margin-top: 16px;
        margin-right: 16px;
        white-space: nowrap;
    }

    .card_content_mobile .linkCTA {
        text-decoration: none;
        color: var(--accent);
        background-color: transparent;
        padding: 5px 15px;
        border: 1px solid var(--accent);
        border-radius: var(--sp-12);
        margin-top: var(--sp-16);
        margin-right: var(--sp-16);
        white-space: nowrap;

    }

    .card_content_tweet_mobile {
        padding: var(--sp-16);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 10px 10px 10px 5px;
        border-radius: var(--sp-12);
        color: var(--text);

    }

    .card_content_main_tweet {
        width: 100%;
        background-color: #E4E4E4;
        padding: 16px;
        text-align: center;
        border-radius: var(--sp-12);
    }

    .tweet-button {

        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-decoration: none;
        padding: .4em;
        background-color: #22a2f0;
        color: white;
        border-radius: 8px;
    }

    .tagbox_mobile {
        width: 100%;
    }
}

/* @media screen and (max-width: 690px) {
 

} */