@import url('https://fonts.googleapis.com/css?family=Kanit:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500&display=swap');

/* ROOT */
:root {
    /* COLOR */

    --bg-w: #FFFFFF;
    --outline: #CCCCCC;
    --text: #000000;
    --small-text: #909090;
    --accent: #FFC80B;
    --red: #E91916;
    --link: #1492E6;

    /* FONT SIZE */
    --typo-12: 12pt;
    --typo-14: 14pt;
    --typo-16: 16pt;
    --typo-18: 18pt;
    --typo-20: 20pt;
    --typo-24: 24pt;
    --typo-30: 30pt;
    --typo-36: 36pt;
    --typo-48: 48pt;
    --typo-60: 60pt;
    --typo-72: 72pt;

    /* SPACING */
    --sp-4: 4px;
    --sp-8: 8px;
    --sp-12: 12px;
    --sp-16: 16px;
    --sp-24: 24px;
    --sp-32: 32px;
    --sp-48: 48px;
    --sp-64: 64px;
    --sp-96: 96px;
    --sp-128: 128px;
    --sp-192: 192px;
    --sp-256: 256px;
    --sp-384: 384px;
    --sp-512: 512px;
    --sp-640: 640px;
    --sp-768: 768px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #130d0a;
    color: #fff;
}

* {
    padding: 0;
    margin: 0;
}

.first-section {
    padding: 50px 227px;
    background-color: #000;
    height: 150vh;
    margin-bottom: var(--sp-24);
}

/* TYPOGRAPHY */
h1,
cite,
small,
h4,
p {
    font-family: 'Kanit';
}

.first-section h1 {
    line-height: 120%;
    margin-bottom: 30px;
    font-size: 35pt;
}

.first-section small {
    font-size: 16pt;
}

.first-section p {
    color: #ede0d5;
    margin-top: 20px;
    font-size: 22pt;
    line-height: 150%;
    font-weight: lighter;
}

/* MOBILE SITE */
.mobileContent {
    display: none;
}

.jumptoweb {
    position: absolute;
    top: 120px;
    left: 30vw;
    display: unset;
    text-align: center;
    padding: 20px;
    background-color: var(--accent);

}

.jumptoweb a {
    font-weight: bold;
    text-decoration: none;
    color: #22a2f0;
}

@media screen and (max-width: 700px) {
    .mobileContent {
        display: unset;
    }


    .mobile-screen {
        display: unset;
        height: 100vh;
    }

    .jumptoweb {
        display: none;
    }

    .first-section {
        padding: 50px 30px;
    }

    /* Javascript animation */
    .scroll {
        width: 30px;
        animation: move 1s infinite alternate;
    }

    @keyframes move {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(30px);
        }
    }
    .first-section h1 {
        font-size: var(--typo-24);

    }
    .first-section p { 
        font-size: var(--typo-16);
    }
    .group-content {
        background-color: black;
    }

    .group-content .card {
        background-color: #E4E4E4;
        color: #130d0a;
        border-radius: 16px;
        box-shadow: 0 5px 10pt rgba(0, 0, 0, .28);
        height: auto;
        width: auto;
        transition: .2s;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        text-align: center;

    }


    .card h1 {
        font-size: 16pt;
    }
    .card h4 {
        font-size: 12pt;
    }
    .card p {
        font-size: 10pt;
        margin-bottom: 16px;
        color: #130d0a;
        font-weight: light;

    }

    .card cite {
        color: #130d0a;
        font-weight: bold;
        font-size: 10pt;
    }

    .card .link {
        text-decoration: none;
        color: var(--bg-w);
        background-color: var(--accent);
        padding: 5px 15px;
        border-radius: 12px;
        margin-top: 16px;
        margin-right: 16px;
    }

    .card .linkCTA {
        text-decoration: none;
        color: var(--accent);
        background-color: var(--bg-w);
        padding: 5px 15px;
        border: 2px solid var(--accent);
        border-radius: var(--sp-12);
        margin-top: var(--sp-16);
        margin-right: var(--sp-16);

    }

    .card .figure {
        /* width: auto; */
        width: 100%;
        height: auto;
    }
    .card .tagbox {
        widows: 70vw;;
    }
    .card-content {
        width: 100%;
        background-color: whitesmoke;
        border-radius: var(--sp-12);
        padding: var(--sp-16);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card-content-main {
        padding: 16px;
        text-align: center;
    }

    .card-content .link-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .card-book {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .card-book img {
        width: 100%;
        height: auto;
    }


    .card .tweet-button {

        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-decoration: none;
        padding: .4em;
        background-color: #22a2f0;
        color: white;
    }

    .content .tweet-butto:active {
        color: white;

    }

    /* CONTROL BTN */
    .controlbtn {
        display: flex;
        justify-content: flex-end;
        background-color: #130D0A;
        margin-bottom: 10px;
    }

    .prev,
    .next {
        cursor: pointer;
        color: #707070;
        background-color: white;
        border-radius: 4px;
        user-select: none;
        padding: 10px;
        margin-left: 30px;
        margin-right: 30px;
    }
}