@import url('https://fonts.googleapis.com/css?family=Kanit:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500&display=swap');

/* ROOT */
:root {
    /* COLOR */

    --bg-w: #FFFFFF;
    --outline: #CCCCCC;
    --text: #000000;
    --small-text: #909090;
    --accent: #FFC80B;
    --red: #E91916;
    --link: #1492E6;

    /* FONT SIZE */
    --typo-12: 12pt;
    --typo-14: 14pt;
    --typo-16: 16pt;
    --typo-18: 18pt;
    --typo-20: 20pt;
    --typo-24: 24pt;
    --typo-30: 30pt;
    --typo-36: 36pt;
    --typo-48: 48pt;
    --typo-60: 60pt;
    --typo-72: 72pt;

    /* SPACING */
    --sp-4: 4px;
    --sp-8: 8px;
    --sp-12: 12px;
    --sp-16: 16px;
    --sp-24: 24px;
    --sp-32: 32px;
    --sp-48: 48px;
    --sp-64: 64px;
    --sp-96: 96px;
    --sp-128: 128px;
    --sp-192: 192px;
    --sp-256: 256px;
    --sp-384: 384px;
    --sp-512: 512px;
    --sp-640: 640px;
    --sp-768: 768px;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}



.jumptomobile {
    display: none;

}

/* PARALLAX SCROLL */
#hero {
    height: 800px;
    overflow: hidden;
    position: relative;
}

.layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: -1;
}

/* #hero-mobile {
    display: none;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom/cover;
    height: 320px;
} */

.first-section {
    padding: 50px 227px;
    height: 100vh;
    background-color: #000;
}

/* TYPOGRAPHY */
h1,
cite,
a,
p,
h4,
small {
    font-family: 'Kanit';
}

.first-section h1 {
    line-height: 120%;
    margin-bottom: 30px;
    font-size: 40pt;
}

.first-section small {
    font-size: 16pt;
}

.first-section p {
    color: #ede0d5;
    margin-top: 20px;
    font-size: 22pt;
    line-height: 150%;
}



#hero,
.layer {
    min-height: 800px;
}


.web-room {
    /* width: 100vw; or we should not set width at all?
    max-width: 100vw; */
    /* width: 100%; */
    height: 150vh;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: 100% 150vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-rows: 1fr;
    grid-gap: 0px;
    grid-template-areas:
        "content dashboard";
    overflow-y: unset;

}

/* .web-room[data-scroll="in"] {
    animation-name: pop;
    animation-duration: .5s;
}

@keyframes pop {

    100% {
        opacity: 1;
    }
    
    0% {
        opacity: 0.5;
       
        
    }
} */

/* TWITTER DASHBOARD */
.container-dashboard {
    padding-top: 200px;
}

.dashboard {
    grid-area: dashboard;
    width: 300px;
    height: 60vh;
    background-color: #E4E4E4;
    padding: 16px;
    transform-origin: 50% 50%;
    -webkit-transform: perspective(300) rotateY(-15deg);
    border-radius: 16px;
    box-shadow: 0 5px 10pt rgba(0, 0, 0, .28);

}

.dashboard h3 {
    margin-top: var(--sp-12);
    font-family: 'Kanit';
    color: var(--text);
    margin-bottom: var(--sp-16);
    font-size: var(--typo-16);

}

.dashboard p {
    font-family: 'Kanit';
    color: var(--text);
    font-size: var(--typo-12);
    font-weight: lighter;
    margin-bottom: var(--sp-16);

}

.dashboard .tagbox {
    height: 180px;
}


/* IDOL CONTENT */
.group-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.idol-content {
    color: #130d0a;
    grid-area: content;
    display: grid;
    grid-template-columns: 90px 1fr 40px;
    padding-top: 200px;
    grid-column-gap: var(--sp-16);
    padding: var(--sp-16);
}

.card-book {
    text-align: center;
}

.idol-content h1 {
    font-size: var(--typo-18);
    /* padding: var(--sp-12); */
}

.idol-content h4 {
    font-size: var(--typo-14);
}

.idol-content p {
    font-size: var(--typo-12);
    margin-bottom: var(--sp-16);
    color: var(--small-text);
    font-weight: lighter;

}

.idol-content cite {
    color: var(--text);
    font-weight: bold;
    font-size: var(--typo-12);
}

.idol-content .link {
    text-decoration: none;
    color: var(--bg-w);
    background-color: var(--accent);
    padding: 5px 15px;
    border-radius: var(--sp-12);
    margin-top: var(--sp-16);
    margin-right: var(--sp-16);
}

.idol-content .linkCTA {
    text-decoration: none;
    color: var(--accent);
    background-color: transparent;
    padding: 5px 15px;
    border: 2px solid var(--accent);
    border-radius: var(--sp-12);
    margin-top: var(--sp-16);
    margin-right: var(--sp-16);

}



.idol-content .card {
    background-color: #E4E4E4;
    border-radius: 16px;
    box-shadow: 0 5px 10pt rgba(0, 0, 0, .28);
    height: auto;
    width: auto;
    transition: .2s;
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* margin-bottom: var(--sp-32); */
    /* background-color: var(--accent); */
    /* padding-left: 350px; */
    /* position: absolute;
    left: 200px;
    top: 2500px; */
}

.card .figure {
    /* width: auto; */
    width: 100%;
    min-width: 250px;
    /* max-width:298px; */
    max-width: 420px;
    height: auto;
    /* max-height: 426px; */
    max-height: 500px;
    /* object-fit: cover; */
    /* use object-fit contain to prevent mac error */
}

.idol-content .card-content {
    padding: var(--sp-16);
}

.card-content .link-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.controlbtn {
    display: flex;
    align-items: center;
    padding-bottom: var(--sp-24);
}

.prev,
.next {
    cursor: pointer;
    color: #707070;
    background-color: white;
    border-radius: 4px;
    user-select: none;
    margin-left: 30px;
    padding: 10px;
}

/* Javascript animation */
.scroll {
    width: 30px;
    animation: move 1s infinite alternate;
}

@keyframes move {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(30px);
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media screen and (max-width: 1030px) {
    body {
        background-color: black;

    }

    .jumptomobile {
        padding: 20px;
        background-color: #FFC80B;

        position: absolute;
        top: 120px;
        padding: 30px;
        display: unset;
        text-align: center;
    }

    .jumptomobile h1 {
        color: white;
        font-family: 'Kanit';
        font-size: 16pt;
        margin-bottom: 5px
    }

    .jumptomobile a {
        text-decoration: none;
        font-weight: bold;
        color: #22a2f0;
    }

    .websiteContent {
        display: none;
    }

}