@import url('https://fonts.googleapis.com/css?family=Kanit:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500&display=swap');

/* ROOT */
:root {
    /* COLOR */

    --bg-w: #FFFFFF;
    --outline: #CCCCCC;
    --text: #000000;
    --small-text: #909090;
    --accent: #FFC80B;
    --red: #E91916;
    --link: #1492E6;

    /* FONT SIZE */
    --typo-12: 12pt;
    --typo-14: 14pt;
    --typo-16: 16pt;
    --typo-18: 18pt;
    --typo-20: 20pt;
    --typo-24: 24pt;
    --typo-30: 30pt;
    --typo-36: 36pt;
    --typo-48: 48pt;
    --typo-60: 60pt;
    --typo-72: 72pt;

    /* SPACING */
    --sp-4: 4px;
    --sp-8: 8px;
    --sp-12: 12px;
    --sp-16: 16px;
    --sp-24: 24px;
    --sp-32: 32px;
    --sp-48: 48px;
    --sp-64: 64px;
    --sp-96: 96px;
    --sp-128: 128px;
    --sp-192: 192px;
    --sp-256: 256px;
    --sp-384: 384px;
    --sp-512: 512px;
    --sp-640: 640px;
    --sp-768: 768px;
}


html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--accent);
}

.left {
    width: 50%;
    height: 100%;
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
}

.left #hide {
    height: 100%;
}

.right {
    margin-left: 50vw;
    width: auto;
    padding: var(--sp-24) var(--sp-24);
}

.leftreveal {
    padding: var(--sp-24) var(--sp-24);
    text-align: center;
}

main {
    margin-bottom: var(--sp-32);
}

.align {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* RADIO BUTTON */
/* labelcontainer */
label {
    margin-bottom: var(--sp-4);
    margin-right: var(--sp-12);
    margin-left: var(--sp-48);
}

.labelcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.labelcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.labelcontainer:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.labelcontainer input:checked~.checkmark {
    background-color: var(--bg-w);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.labelcontainer input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.labelcontainer .checkmark:after {
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--accent);
}


button {
    /* margin-top: var(--sp-32);
    font-size: var(--typo-12);
    padding: 10px 50px 10px 50px;
    border-radius: var(--sp-8);
    color: var(--bg-w);
    border: none;
    background-color: var(--text);
    font-weight: bold;
    text-decoration: none;
    outline: none; */
    outline: none;
    border: none;
    width: 200px;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    background-color: var(--bg-w);
    margin-top: 20px;
    margin-bottom: var(--sp-48);
}

/* TYPOGRAPHY */
h1,
h3,
button,
h2,
label {
    font-family: 'Kanit';
}

h3 {
    margin-top: var(--sp-16);
    margin-bottom: var(--sp-8);
}

h1 {
    font-size: var(--typo-24);
}

h2 {
    font-size: var(--typo-20);
}

h3 {
    font-size: var(--typo-18);
}

label {
    font-size: var(--typo-16);
}

button {
    font-size: var(--typo-16);
    font-weight: bold;
}

.answer_img {
    width: 500px;
    height: auto;
}
.mascot_img {
    height: 70vh;
    width: auto;
}

@media (max-width: 1080px) {
    html {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 100%;
        position: unset;
        overflow-y: unset;
    }

    .left img {
        width: 100%;
        height: auto;
    }

    .right {
        margin-left: 16px;
    }

    .left #hide {
        width: 100vw;
        height: 100%;
    }

    .align {
        display: flex;
        flex-wrap: wrap;
    }
}